/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 1;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header, .footer {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 4px 10px;
  align-items: center;
  background: lightblue;
  border-bottom: 1px solid #7fc9e1;
  color: black;
  margin-bottom: 20px;
}
.header {
  box-shadow: 0 2px 5px #7fc9e1;
}
.footer {
  margin: 20px 0 0 0;
  padding: 20px 10px;
  text-align: center;
  justify-content: center;
  border-top: 1px solid #7fc9e1;
  border-bottom: 0;
  box-shadow: 0 -2px 2px #7fc9e1;
  
}
.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.logo {
  width: 150px;
}
.nav-items ul {
  list-style-type: none;
  display: flex;
  margin: 0;
}
.nav-items ul li {
  padding: 10px;
  display: inline-block;
}
.card {
  width: 200px;
  border: 1px solid gray;
  padding: 10px;
  margin: 10px;
}
.card img {
  width: 100%;
}
.rastaurent-list {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  width: 200px;
  height: 100px;
  background: lightgray;
  margin: 10px;
  padding: 10px;
  border: 1px solid gray;
}
.menu {
  display: flex;
}